{% extends "base.html" %}

{% load custom_tags %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h3>Reset Password</h3>
            <hr>
            <br>
            <form method="POST">
                {% csrf_token %}
                {% for feild in form %}
                    <div class="form-group">
                        {{ feild.label_tag }}
                        {{ feild|add_classes:'form-control' }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
  </div>
{% endblock content %} 