{% extends "base.html" %}


{% load custom_tags %}
{% block content %}
<div class="card p-2">
        {% if stat == 'resolved' %} 
        <form action="res" method="POST">
            {% csrf_token %}
            <div class="alert alert-primary" role="alert">
                Your issue has been resolved
            </div>
            <label class="col-2">Feedback:</label> <input type="text" class="form-control col-4" name="feed">
            <input type="submit" class="btn btn-primary" value="submit">
        </div>
        {% else %}
    <form action="res" method="POST"></form>
    {% csrf_token %}
        {% for feild in form %}
                <div class="form-group">
                    {{ feild.label_tag }}
                    {{ feild|add_classes:'form-control' }}
                </div>
        {% endfor %}
        <input type="submit" class="float-right btn btn-warning" value="update">
    </form>
</div>
<br>
<h4>STATUS</h4>

    {% for stat in stats %}
    <div class="card p-2">
        <div class="card-text">
            <span class="" >{{stat.statText }}</span>
            <span class="badge badge-info" >{{stat.stat}}</span>
            <span class="badge badge-secondary" >{{ stat.created }}</span>
        </div>
    </div>
    {% endfor %}

        
        {% endif %}

    
{% endblock %}

