<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="res" method="POST">

        {% csrf_token %}
         
        {% if stat == 4 %} 

        Your issue has been resolved
        <br><br>
        Feedback: <input type="text" name="feed">
        <input type="submit">
        
        {% else %}

        Description: <input type="text" name="desc">
        <br><br>
        Location: <input type="text" name="loct">
        <br><br>
        Status: <input type="text" name="status" placeholder="">
        <!-- {{status}} -->
        <br><br>
        <input type="submit">

        {% endif %}

    </form>
</body>
</html>