<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="res" method="POST">

        {% csrf_token %}
         
        {% if stat == 'resolved' %} 

        Your issue has been resolved
        <br><br>
        Feedback: <input type="text" name="feed">
        <input type="submit">
        
        {% else %}

        <!-- <label for="categ">Choose a category:</label>

            <select name="cat" id="cat">
            <option value="garbage">Garbage</option>
            <option value="potholes">Pot Holes</option>
            <option value="Fire">Fire</option>
            <option value="waterlogging">Water Logging</option>
        </select> -->
        Description: <input type="text" name="desc" value="{{stats.desc}}">
        <br><br>
        <img src="{{stats.img.url}}" alt="">
        Location: <input type="text" name="loct" value="{{stats.location}}">
        <br><br>
        Status: <input type="text" name="status" value="{{stats.stat}}">
        <!-- {{status}} -->
        <br><br>
        <input type="submit">

        {% endif %}

    </form>
</body>
</html>